body {
  font-family: 'Libre Baskerville', Arial;
  padding: 20px;
  background-image: url(images/background-content.png);
  background-repeat: repeat;
  list-style-type: none;
  background-origin: content-box;
  background-color: #cccccc;

  
  }

  .main-container {
    max-width: 1200px;
  }


.header {
  padding: 30px;
  font-size: 55px;
  text-align: center;
  background: white;
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: normal;
}

.h2 {
  font-family: 'Sniglet', Arial;
}


.leftcolumn { 
  float: left;
  width: 100%;
  padding-top: 50px;
  }


.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.moneyimg {
  width: 60%;
  height: 300px;
  padding: 10px;
  margin: 0 5px 0 0;
  display: block, center;
  float:left;
  overflow: hidden;
}



.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;


.button {
    display: block;
    width: 215px;
    height: auto;
    border-radius: 2px;
    padding: 28px 14px;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9A9A9;
    color: #000000;
    border: 3px solid #ffffff;
   }

  .playgroundimg {
    background-image: url(images/glasses.jpg);    
    margin: 0 5px 0 0;
    width: 60%;
    height: 300px;
    padding: 10px;
    display: block, center;
    float:left;
    overflow: hidden;	
   }

p {
  font-weight: 100px;
}

/* Footer */
.footer h2 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.footer h3{
  text-align: right;
}
